@use '../base/typography';


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%; /* 1rem = 10px */
    font-family: typography.$fuentePrincipal;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


/* Globales */
body {
    background-color: typography.$fondo-color;
}


  a {
    text-decoration: none;
    color: typography.$texto-color;
  }



  .body {
    max-width: 1200px;
    margin: 0 auto;
  }